<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myteammanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTeamManager" >
        <activity
            android:label="@string/app_name"
            android:name=".MyTeamManagerActivity" android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.phone.WizardEnterTeamNameActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.WizardEnterPlayersInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.AddPlayerInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.HomePageActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.RosterActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.EditPlayerInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.AddPlayerInfoFromRosterActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.AddPlayerDetailsActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.AddEventInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".ui.phone.EditMatchInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.EventsListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.MatchesListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.EventDetailActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.MatchDetailActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.EditConvocationActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.EditTeamLineUpActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.PlayerListForTeamLineupActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.EditSubstitutesActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.ScorersActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.PreferenceActvity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.PostMatchDetailActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".ui.phone.MatchSubstitutionsActivity"></activity>
        <activity android:name=".ui.phone.ChoosePlayerFromContactsActivity"></activity>
    </application>

</manifest>
